*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(135deg,#ff9A9E,#FAD0C4);
}

.container{
   
    width: 40%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    min-width: 450px;
    padding: 30px 40px;
}

#newtask {
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

#newtask h5{
    font-family: sans-serif;
    color: grey;
    font-size: 20px;
    padding: 12px;
    text-align: center;
}

#newtask input{
    width: 70%;
    width: 70%;
    height: 35px;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    border: 2px solid #d1d3d4;
    padding: 12px; 
    color: #111111;
    font-weight: 900;
    position: relative;
    border-radius: 5px;
}

#newtask input:focus{
   outline: none;
   border-color: #EFA8E4;
}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 35px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background-color: #EFA8E4;
    border:none;
    color: #ffffff;
    cursor: pointer;
}

#tasks{
    background-color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    width: 100%;
    position: relative;
}

.task{
    background-color: #ffffff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}

.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 900;
}

.task button{
    background-color: #9779dc;
    color: #ffffff;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}